<h1>Home</h1>
<div class="full-height" direction="column" vertical="center" horizontal="center">
  <div class="home__main-img">
    <img src="../../../assets/images/welcome.png" alt="welcome" />
  </div>
  <div direction="column" horizontal="center" class="text-center">
    <h2 class="mt-10">Welcome!</h2>
    <p>
      Advertising for seasoned publishing professionals or those just starting out.<br />
      Monetize your site with display and video ads.<br />
      Get started!
    </p>
  </div>
</div>
