nav {
  padding: 20px 12px 12px 20px;
}

a {
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  display: flex;
}

.icon {
  margin-right: 16px;
  font-size: 20px;
  opacity: 0.55;
}

span {
  line-height: 24px;
  font-weight: 400;
}

.active-link {
  background-color: var(--light-blue-color);
  color: var(--blue-color);

  .icon {
    opacity: 1;
  }

  span {
    font-weight: 500;
  }
}
